{% extends 'base_generic.html' %}

{% block content %}
<div class="container">
    <h1>Independent Learner Leaderboard for {{ subject_obj.name }}</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Rank</th>
                <th scope="col">Student</th>
                <th scope="col">Score</th>
            </tr>
        </thead>
        <tbody>
            {% for entry in leaderboard_entries %}
            <tr>
                <th scope="row">{{ entry.rank }}</th>
                <td>{{ entry.student.user.username }}</td>
                <td>{{ entry.score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
